/**
 * @file
 * The visual styles for Bootstrap Barrio's search form(s).
 */

input[type="search"] {
    box-sizing: border-box;
}

#search-api-page-block-form {
    padding: 1rem;
    flex-flow: row wrap;
    display: flex;
}

.region-featured-top {
    width: 100%;
}

.region-featured-top #search-api-page-block-form {
    width: 100%;
}

#search-api-page-block-form {
  .input-group-append {
    margin-left: 0;
    .form-submit {
      color: $white;
      background: $primary;
      border-top: 1px solid $primary;
      border-bottom: 1px solid $primary;
      border-right: 1px solid $primary;
      border-left: 1px solid $primary;
    }
  }
  input {
    background: $default;
    border-top: 1px solid darken($default, 10%);
    border-bottom: 1px solid darken($default, 10%);
    border-left: 1px solid darken($default, 10%);
    border-right: none;
    &:focus {
      border-top: 1px solid darken($primary, 10%);
      border-bottom: 1px solid darken($primary, 10%);
      border-left: 1px solid darken($primary, 10%);
      border-right: none;
      box-shadow: none;
    }
  }
}
