{% set first_aside %}
  <div class="pl-layout-placeholder pl-layout-placeholder--fllled"
    style="height: 150px;">
    First Aside
  </div>
{% endset %}
{% set main %}
  <div class="pl-layout-placeholder pl-layout-placeholder--fllled"
    style="height: 150px;">
    Main
  </div>
{% endset %}
{% set second_aside %}
  <div class="pl-layout-placeholder pl-layout-placeholder--fllled"
    style="height: 150px;">
    Second Aside
  </div>
{% endset %}

{% include '@layouts/threecol/layout--threecol.twig' with {
  first_aside: first_aside,
  main: main,
  second_aside: second_aside
} %}
