<div class="d-flex flex-sm-row flex-column">
  <div>
  </div>
  <div class="p-2">
    {% block header %}
    <div>
      {{ header }}
    </div>
    {% endblock %}
    {% block meta %}
    <div>
      {{ meta }}
    </div>
    {% endblock %}
    {% block body %}
    <div>
      {{ body }}
    </div>
    {% endblock %}
  </div>
</div>
