{% extends "page.html.twig" %}

{% block global_admin %}{% endblock %}

{% block pre_header %}{% endblock %}

{% block tabs %}{% endblock %}

{% block messages %}{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_content %}
  <div>{{ page.tools }}</div>
  {{ page.content }}
{% endblock %}

{% block footer %}{% endblock %}
