{% extends "page.html.twig" %}

{% block global_admin %}{% endblock %}

{% block pre_header %}{% endblock %}

{% block tabs %}{% endblock %}

{% block messages %}{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_content %}
  <h1 class="title display-4">
    {{ page['#title'] }}
  </h1>
  <div>{{ page.tools }}</div>
  {{ page.content|without("cloudy_page_title") }}
{% endblock %}

{% block footer %}{% endblock %}
