{%
set main_classes = [
    'main-content',
    not is_front ? 'col-xl-10',
    not is_front ? 'col-lg-9',
    not is_front ? 'col-md-12',
    not is_front ? 'col-sm-12',
    not is_front ? 'col-xs-12',
    not is_front ? 'order-2',
]
%}
{% if content %}
    <main {{ attributes.addClass(main_classes) }} id="content" role="main">
        {{ content }}
    </main>
{% endif %}